
<app-menu-title></app-menu-title>
<div class="articles">
 <div id="content__big-card" class="articles__main">
    <app-big-card 
    Id = '1'
    Image="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/1ecde018e863e2aaee31f00a23378c35.jpe" 
    Paragraph="'Nota Média:4.9(230.6K)"
    Title="One Piece"
    
    ></app-big-card>
 </div>
 
 <div id ='content__small-card' class="article__others">
  <app-small-card
  Image="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/c9f115153a07e900a045e63cc8e78fe1.jpe" 
  Paragraph="'Nota Média:4.9(230.6K)"
  Title="JUJUTSU KAISEN"
  Id = '2'>
</app-small-card>
  
  
  <app-small-card
  Image="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/ea075b926e1073f4eb016bff8cdb434c.jpe" 
  Paragraph="Nota Média: 4.9 (230.6K)"
  Title="Chainsaw Man"
  Id = '3'
  ></app-small-card>
  <app-small-card
  Image="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/6b5f4fc8c0a7bb5012b9c0930a46570f.jpe" 
  Paragraph="'Nota Média: 4.9 (332.3K)"
  Title="Demon Slayer: Kimetsu no Yaiba"
  Id = '4'
 
  ></app-small-card>
 </div>
</div>