<nav class="component__menu-bar">
    <img class="menu-bar__image" src="../../../assets/img/crunchyroll-2.svg" alt="">
    <ul class="menu-bar__list">
        <li class="menu-bar__toggleBtn off"></li>
        <li><a  class="menu-bar__anchor" href="https://www.youtube.com/@manodeyvin/">Youtube</a></li>
        <li><a  class="menu-bar__anchor" href="witch.tv/manodeyvin">Twitch</a></li>
        <li><a  class="menu-bar__anchor" href="instagram.com/manodeyvin">Instagram</a></li>
        <li><a  class="menu-bar__anchor" href="chorume.dev">Discord</a></li>
    </ul>
</nav>
